*
{
    padding:0.2rem;
    text-align: center;
}
body{
    background-color: #3B1C32;
    color:white;
}
#container
{
    height: 300px;;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#game
{
    height:290px;
    width:290px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.6vmin;
}
#box
{
    color:black;
    font-size: 50px;
    height: 90px;
    width:90px;
    border-radius: 0.5rem;
    background-color: #A4D4B4;
    

}
#reset
{
    margin-top: 50px;
    font-size: 15px;
    border-radius: 0.5rem;
    background-color:#FFCF9C;
}
#btn
{
  
    font-size: 15px;
    border-radius: 0.5rem;
    background-color:#FFCF9C;
}
#msg
{
    font-size: 30px;
}

.message
{
    height:550px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.hide
{
    display:none;
}